Support for modern IMAP specifications

Sorry... this is going to be a big one!

I'd like a meta-ticket to track support for and known issues with various capabilities.  I'm listing here even things that are already supported, so the list can be more or less exhaustive. I haven't carefully audited this list yet, so its possible we can check off some of these aleady, without any extra effort. As I create tickets and PRs to implement track features, I'll update this list.
                                                                                                                                        
### Basic protocol specifications
                                                                                                                                        
* [ ] [RFC3501] (2003): Internet Message Access Protocol - version 4rev1
  * [x] support all basic IMAP4rev1 commands
  * [ ] Update parser [RFC3501] grammar where it currently uses [RFC2060] grammar
    * [x] parse most responses in the wild, generally correctly :slightly_smiling_face:
    * [ ] #6 `ATOM-CHAR` vs `ASTRING-CHAR`    
    * [ ] #6 CAPABILITY from response code
    * [ ] #8 `resp-text` may begin with "[" or "=""]"
    * [ ] #9 add `BADCHARSET` response code _([Errata Exist][RFC3501 errata])_
    * [ ] Complete ABNF _([Errata Exist][RFC3501 errata])_
  * [ ] LOGINDISABLED capability: MUST not allow login                        
  * [ ] save `@capabilities` and add `#capable?(feature)` _(`net/smtp` already does this)_
    * some extensions require this. e.g. non-synchronizing literals
  * [ ] [UTF-7 mailbox names] should be automatically encoded/decoded
    * _this can be a client option, to preserve backwards compatibility_
* [ ] All of [RFC3501]'s official "updated by" RFCs
  * [ ] [RFC4466] (2006): Collected Extensions to IMAP4 ABNF
  * [ ] [RFC6186] (2011): SRV Records for Locating Email Services
    * updated by: [RFC8553] (2019): DNS AttrLeaf, fixing underscored node names
  * [ ] [RFC6858] (2013): Simplified Downgrading for I18n Email
    * values simplicity of implementation over fidelity of representation, since
      implementing a high-fidelity downgrade algorithm... is likely more work
      than implementing proper UTF-8 support [RFC6855].
  * [ ] [RFC7817] (2016): Updated TLS Server Identity Check Procedure
  * [ ] [RFC8314] (2018): Cleartext Obsolete: Use TLS for Email
                                                                                                                                        
[RFC1730]: https://tools.ietf.org/html/rfc1730
[RFC2060]: https://tools.ietf.org/html/rfc2060
[RFC3501]: https://tools.ietf.org/html/rfc3501
[RFC4466]: https://tools.ietf.org/html/rfc4466
[RFC5530]: https://tools.ietf.org/html/rfc5530
[RFC5598]: https://tools.ietf.org/html/rfc5598
[RFC5788]: https://tools.ietf.org/html/rfc5788                                  
[RFC6186]: https://tools.ietf.org/html/rfc6186
[RFC6858]: https://tools.ietf.org/html/rfc6858
[RFC7817]: https://tools.ietf.org/html/rfc7817
[RFC8314]: https://tools.ietf.org/html/rfc8314
[RFC3501 errata]: https://www.rfc-editor.org/errata_search.php?rfc=3501&rec_status=1
[RFC5598 errata]: https://www.rfc-editor.org/errata/rfc5598
[UTF-7 mailbox names]: https://tools.ietf.org/html/rfc3501#section-5.1.3
                                                                                                                                        
## Commonly supported extensions 
                                                                                                                                        
This is not an exhaustive list, but an opinionated selection of the most important extensions that `Net::IMAP` should support. Please comment below if you think something should be promoted to this list!
                                                                                                                                        
_sorted by original RFC number_
                                                                                                                                        
* [ ] [RFC2087]     (1997):     `QUOTA`
* [ ] [RFC7888]     (2016):     `LITERAL+`              (obsoletes: [RFC2088] 1997)
* [x] [RFC2177]     (1997):     `IDLE`
* [ ] [RFC2342]     (1998):  #5 `NAMESPACE`
* [ ] [RFC2971]     (2000):  #4 `ID`
* [ ] [RFC3348]     (2002):     `CHILDREN`
* [ ] [RFC3691]     (2004):     `UNSELECT`
* [ ] [RFC4315]     (2005):     `UIDPLUS`
* [ ] [RFC7162]     (2014):     `CONDSTORE`             (obsoletes: [RFC4551] 2006)
  * [ ] `CONDSTORE` select parameter
  * [x] `MODSEQ`
  * [x] `NOMODSEQ`                                              
  * [x] `CHANGEDSINCE`                                          
  * [ ] `HIGHESTMODSEQ` response code                           
  * [ ] Interaction with [RFC4731] ESEARCH                      
  * [ ] Interaction with [RFC5267] ESORT                        
* [ ] [RFC4731]     (2006):     `ESEARCH`                       
* [ ] [RFC4959]     (2007):     `SASL-IR`                       
* [ ] [RFC4978]     (2007):     `COMPRESS=DEFLATE`              
* [ ] [XOAUTH2]     (2007):     `AUTH=XOAUTH2`
* [ ] [GMAILext]    (2007):     `X-GM-EXT-1`, ~~`XLIST`~~, `X-GM-RAW`, `X-GM-MSGID`, `X-GM-THRID`, `X-GM-LABELS`
* [ ] [RFC5161]     (2008):     `ENABLE`                                           
* [ ] [RFC7162]     (2014):     `QRESYNC`               (obsoletes: [RFC5162] 2008)
  * [ ] `VANISHED`                                                       
  * [ ] Interaction with [RFC5161] ENABLE                                 
* [ ] [RFC5258]     (2008):     `LIST-EXTENDED`         _([IANA registry][IMAP-list-extended])_
* [ ] [RFC5530]     (2009):     Response Codes          _([IANA registry][IMAP-resp-codes])_
* [ ] [RFC6855]     (2013):     `UTF8=ACCEPT`           (obsoletes: [RFC5738] 2010)
* [ ] [RFC5802]     (2010):     `AUTH=SCRAM-*`
* [ ] [RFC5819]     (2010):     `LIST-STATUS`
* [ ] [RFC6154]     (2011):     `SPECIAL-USE`
* [x] [RFC6851]     (2013):     `MOVE`
* [ ] [RFC7628]     (2015):     `AUTH=OAUTHBEARER`                       
* [ ] [RFC7888]     (2016):     `LITERAL+`              (obsoletes: [RFC2088] 1997)
* [ ] [RFC7888]     (2016):     `LITERAL-`           
* [ ] [RFC7889]     (2016):     `APPENDLIMIT`
* [ ] [RFC8457]     (2018):     Keyword: `$Important`
* [ ] [RFC8457]     (2018):     Special-use attribute: `\Important`
* [ ] [RFC8474]     (2018):     `OBJECTID`

Some notes:          
* SASL mechanisms can be shared between IMAP, SMTP, and POP. I suggest
    extracting authenticators from both `net-imap` and `net-smtp` and placing it
    into the `net-protocol` gem as `Net::Protocol::SASL`. Or it could be
    extracted into a new `net-sasl` gem as `Net::SASL`. Either way, implementing                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
    the same SASL mechanisms seperately for each protocol is unnecessary.
* Support for several of these extensions will require the client to 
* `COMPRESS=DEFLATE` is _very_ helpful when handling large amounts of email.
* GMail's non-standard extensions can almost be obsoleted by a combination of
  `OBJECTID`, `SORT`, `THREAD`, `SEARCH=FUZZY`, `ESEARCH`, `ESORT`, and
  `AUTH=OAUTHBEARER`. But GMail and other large email providers still haven't
  upgraded to use all of these new standards. Until such time as they are
  deprecated by GMail (and `AUTH=XOAUTH2` is used by _many_ providers), I think
  it's useful to add these to the standard library instead of installing a
  separate gem.
* `QRESYNC` is still not supported by enough servers. But it's _very_ useful.

[RFC2087]: https://tools.ietf.org/html/rfc2087
[RFC2088]: https://tools.ietf.org/html/rfc2088
[RFC2177]: https://tools.ietf.org/html/rfc2177
[RFC2342]: https://tools.ietf.org/html/rfc2342
[RFC2971]: https://tools.ietf.org/html/rfc2971
[RFC3348]: https://tools.ietf.org/html/rfc3348
[RFC3691]: https://tools.ietf.org/html/rfc3691
[RFC4315]: https://tools.ietf.org/html/rfc4315
[RFC4551]: https://tools.ietf.org/html/rfc4551
[RFC4731]: https://tools.ietf.org/html/rfc4731
[RFC4959]: https://tools.ietf.org/html/rfc4959
[RFC4978]: https://tools.ietf.org/html/rfc4978
[RFC5161]: https://tools.ietf.org/html/rfc5161
[RFC5162]: https://tools.ietf.org/html/rfc5162
[RFC5258]: https://tools.ietf.org/html/rfc5258
[RFC5267]: https://tools.ietf.org/html/rfc5267
[RFC5738]: https://tools.ietf.org/html/rfc5738
[RFC5802]: https://tools.ietf.org/html/rfc5802
[RFC5819]: https://tools.ietf.org/html/rfc5819
[RFC6154]: https://tools.ietf.org/html/rfc6154
[RFC6851]: https://tools.ietf.org/html/rfc6851
[RFC6855]: https://tools.ietf.org/html/rfc6855
[RFC7162]: https://tools.ietf.org/html/rfc7162
[RFC7628]: https://tools.ietf.org/html/rfc7628
[RFC7888]: https://tools.ietf.org/html/rfc7888
[RFC7889]: https://tools.ietf.org/html/rfc7889
[RFC8474]: https://tools.ietf.org/html/rfc8474
[RFC8457]: https://tools.ietf.org/html/rfc8457

[XOAUTH2]:  https://developers.google.com/gmail/imap/xoauth2-protocol
[GMAILext]: https://developers.google.com/gmail/imap/imap-extensions

## Additional standard recommendations

* [RFC2180] - IMAP4 Multi-Accessed Mailbox Practice
* [RFC2595] - Using TLS with IMAP, POP3 and ACAP
* [RFC2683] (1999): IMAP4 Implementation Recommendations
  * mailbox listing, heirarchy, delimiters, NAMESPACE, etc
  * mailbox "\Noselect", "\Noinferiors", "[TRYCREATE]", "[READ-ONLY]"
  * UIDs and UIDVALIDITY
  * FETCH (any order, extra information, unsolicited)
  * "Clients must present ALERT text clearly to the user."
* [RFC4549] (2006): Synchronization Operations for Disconnected IMAP4 Clients
* [RFC5550] (2009): The Internet Email to Support Diverse Service Environments (Lemonade) Profile
  * obsoletes: [RFC4550] (2006)

[RFC2180]: https://tools.ietf.org/html/rfc2180
[RFC2595]: https://tools.ietf.org/html/rfc2595
[RFC2683]: https://tools.ietf.org/html/rfc2683
[RFC4549]: https://tools.ietf.org/html/rfc4549
[RFC5550]: https://tools.ietf.org/html/rfc5550

## Other extensions

Some of these are easy to add, and many of them would be very useful. I placed
them down here instead of prioritizing them above mostly due to a quick and
unscientific sampling of email accounts and server capabilities.

_sorted by estimated current server support_

* RFC5256 - SORT
* RFC5957 - SORT=DISPLAY
* RFC2221 - LOGIN-REFERRALS
* RFC3516 - BINARY
* RFC5032 - WITHIN
* RFC4469 - CATENATE
* RFC5256 - THREAD=ORDEREDSUBJECT
* RFC5182 - SEARCHRES
* RFC5267 - ESORT
* RFC5256 - THREAD=REFERENCES
* RFC5267 - CONTEXT=SEARCH
* RFC5267 - CONTEXT=SORT
* RFC5550 - URL-PARTIAL

_By my estimation, the following are currently supported by relatively few email
addresses. They are sorted by RFC number._

* RFC3502 - MULTIAPPEND
* RFC4314 - ACL
* RFC4467 - URLAUTH
* RFC5255 - I18NLEVEL=1
* RFC5255 - I18NLEVEL=2
* RFC5255 - LANGUAGE
* RFC5257 - ANNOTATE-EXPERIMENT-1
* RFC5464 - METADATA
* RFC5464 - METADATA-SERVER
* RFC5465 - NOTIFY
* RFC5466 - FILTERS
* RFC5524 - URLFETCH
* RFC6154 - CREATE-SPECIAL-USE
* RFC6203 - SEARCH=FUZZY
* RFC6785 - IMAPSIEVE=
* RFC6785 - UTF8=ONLY
* RFC7377 - MULTISEARCH
* RFC8437 - UNAUTHENTICATE
* RFC8438 - STATUS=SIZE
* RFC8440 - LIST-MYRIGHTS
* RFC8508 - REPLACE
* RFC8514 - SAVEDATE

### IANA registries:

| Registry                              | references           |
| ------------------------------------- | -------------------- |
| [Capabilities][IMAP-caps]             | [RFC3501]            |
| [Mailbox attributes][IMAP-mbox-attrs] | [RFC3501]            |
| [SASL Mechanisms][SASL-mechs]         | [RFC4422]            |
| [LIST EXTENDED][IMAP-list-extended]   | [RFC5258]            |
| [Response codes][IMAP-resp-codes]     | [RFC5530]            |
| [Keywords][IMAP-keywords]             | [RFC5788], [RFC8621] |

[IMAP-caps]:          https://www.iana.org/assignments/imap-capabilities
[IMAP-mbox-attrs]:    https://www.iana.org/assignments/imap-mailbox-name-attributes
[SASL-mechs]:         https://www.iana.org/assignments/sasl-mechanisms
[IMAP-list-extended]: https://www.iana.org/assignments/imap-list-extended
[IMAP-resp-codes]:    https://www.iana.org/assignments/imap-response-codes
[IMAP-keywords]:      https://www.iana.org/assignments/imap-jmap-keywords

[RFC4422]: https://tools.ietf.org/html/rfc4422
[RFC8621]: https://tools.ietf.org/html/rfc8621

## Deprecate

I suggest we officially deprecate authentication mechanisms that are known to be obsolete and have been deprecated.
It is probably worthwhile removing them from the default set of authenticators. For people who still "need" them, the code could be preserved in separate files, with explicit `require`s, e.g:
```ruby
require "net/imap/auth/insecure/cram-md5"
require "net/imap/auth/insecure/digest-md5"
```

* [ ] `AUTH=CRAM-MD5`
* [ ] `AUTH=DIGEST-MD5` - officially obsoleted by [RFC6331] (2011)

[RFC6331]: https://tools.ietf.org/html/rfc6331

n.b. I lightly modified RFC-9051's ABNF to valid ABNF syntax, and I generated railroad diagrams in unicode line-art, using kgt: https://gist.github.com/nevans/ae5a82bb81c1595b06b9e167a0376924

e.g.
````
response:
    │├─────╭─────────────────────────╮── response-done ─────┤│
           │                         │
           ╰──╮── continue-req ───╭──╯
              │                   │
              ╰── response-data ──╯

response-data:
    │├───── "*" ── SP ──╮── resp-cond-state ──╭── CRLF ─────┤│
                        │                     │
                        ╰─── resp-cond-bye ───╯
                        │                     │
                        ╰─── mailbox-data ────╯
                        │                     │
                        ╰─── message-data ────╯
                        │                     │
                        ╰── capability-data ──╯
                        │                     │
                        ╰──── enable-data ────╯

response-done:
    │├──╮── response-tagged ──╭──┤│
        │                     │
        ╰── response-fatal ───╯

response-fatal:
    │├───── "*" ── SP ── resp-cond-bye ── CRLF ─────┤│

response-tagged:
    │├───── tag ── SP ── resp-cond-state ── CRLF ─────┤│
````
_and so on..._

I spent a little bit of time this week going through the collection of response parser patches I've been using, to figure out which ones to convert into PRs and which ones to throw away. I hope to start on the big RFC9051 updates next week.

In most cases, the ABNF in RFC9051 seems like an easier starting point than RFC3501, because it already incorporates many of the updates from various popular extensions.  And it also includes simpler extension points for the extensions which aren't included.  Likewise, I think it will be simpler to retain backwards compatibility with an RFC9051 parser than to force forward compatibility into an RFC3501 parser.

Updated the checklist with links to #55 and #54.  Hopefully I'll starting ticking things _off_ this checklist soon, and not only adding things to it!  😆 

To follow :)

Good news, it is official for TLS 1.3 Binding!
- RFC 9266: Channel Bindings for TLS 1.3: https://tools.ietf.org/html/rfc9266

Details:
- tls-unique for TLS =< 1.2
- tls-exporter for TLS = 1.3

----------------

Thanks to @singpolyma who has done a PR in net-sasl for SCRAM:
- https://github.com/nevans/net-sasl/pull/5

Thanks that's great.  I'm (slowly, sporadically) working on merging that PR and hope to finish very soon.  But let's discuss `SCRAM-*` SASL mechanisms in #54, open new issues (or PRs! 😉) for new features like channel binding, and reserve talk on *this* issue to be about the meta-ticket: the `IMAP4rev2` checklist and extensions that are in one of the specific IMAP IANA registries, e.g: [IMAP capabilities](https://www.iana.org/assignments/imap-capabilities/imap-capabilities.xhtml).

I'm planning on raising a PR soon™ to incorporate the XOAUTH2 authenticator. 👍🏻 